body {
  font-family: Arial, sans-serif;
  background: #beaff8;

}

:root {
  --default-padding: 15px;
}

.default-padding{
  padding: var(--default-padding);
}
.navbar {
  background: #8867ff;
}


#aboutus {
  padding: var(--default-padding);
  justify-content: center;
}

#aboutus img {
  width: 300px;
  height: 300px;
}

#aboutus p {
  text-align: justify;
  padding: var(--default-padding);
  max-width: 900px;
  margin: auto;
}

#partners {
  padding: var(--default-padding);
}

#partners img {
  width: 100%;
  padding: var(--default-padding);

}

#services {
  padding: var(--default-padding);
}

#services img {
  padding: var(--default-padding);
}

#services p {
  text-align: justify;
  padding: var(--default-padding);
  max-width: 900px;
  margin: auto;
}

.bg-footer {
  background: #8867ff;
  padding: var(--default-padding);
}